/* ==========================================================================
  Reset 
  ========================================================================== */

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* ==========================================================================
  General 
  ========================================================================== */

body {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

/* ==========================================================================
  Form
  ========================================================================== */

form {
  border: 1px solid;
  border-radius: 0.2rem;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}

input:invalid {
  background-color: lightpink;
}

input:valid {
  background-color: lightgreen;
}
